{% extends 'page.html' %}

{% set selected_lang = h.lang() %}
{% block subtitle %}{{ h.pages_page_title(selected_lang, c.page) }}{% endblock %}

{% block breadcrumb_content %}
  {% set bread_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.page.name) %}
  {% if c.page.name == 'about' %}
    <li class="active"><a href="{{ bread_url }}" >{{ h.pages_page_title(selected_lang, c.page) }}</a></li>
  {% else %}
    {% set about_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/about') %}
    <li class="home"><a href="{{ about_url }}" >{{ _('About') }}</a></li>
  {% endif %}

  {% if c.page.parent_name == 'about' %}
    <li class="active"><a href="{{ bread_url }}" >{{ h.pages_page_title(selected_lang, c.page) }}</a></li>
  {% elif not c.page.parent_name == '' %}
    {% set parent_bread_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.parent.name) %}
    <li class="home"><a href="{{ parent_bread_url }}" >{{ c.parent.title }}</a></li>
    <li class="active"><a href="{{ bread_url }}" >{{ h.pages_page_title(selected_lang, c.page) }}</a></li>
  {% endif %}
{% endblock %}

{% block primary_content %}
<article class="module">
  <section class="module-content">
    {% if h.check_access('ckanext_pages_update') %}
      <div class="page_primary_action">
      {% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' + c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
        </div>
    {% endif %}
    <h1 class="page-heading">{{ h.pages_page_title(selected_lang, c.page) }}</h1>
    {% if c.page.content %}
      <div class="ckanext-pages-content">
        {% set editor = h.get_wysiwyg_editor() %}
        <!-- editor set to "{{ editor }}"-->
        {% if editor %}
          <div>
            {% if selected_lang %}
              {% if selected_lang=="nl" and c.page.content_nl %}
                {{c.page.content_nl|safe}}
              {% elif selected_lang=="fr" and c.page.content_fr %}
                {{c.page.content_fr|safe}}
              {% elif selected_lang=="de" and c.page.content_de %}
                {{c.page.content_de|safe}}
              {% else %}
                {{c.page.content|safe}}
              {% endif %}
            {% else %}
              {{c.page.content|safe}}
            {% endif %}
          </div>
        {% else %}
            {% if selected_lang %}
              {% if selected_lang=="nl" and c.page.content_nl %}
                {{ h.render_content(c.page.content_nl) }}
              {% elif selected_lang=="fr" and c.page.content_fr %}
                {{ h.render_content(c.page.content_fr) }}
              {% elif selected_lang=="de" and c.page.content_de %}
                {{ h.render_content(c.page.content_de) }}
              {% else %}
                {{ h.render_content(c.page.content) }}
              {% endif %}
            {% else %}
              {{ h.render_content(c.page.content) }}
            {% endif %}
        {% endif %}
      </div>
    {% else %}
      <p class="empty">{{ _('This page currently has no content') }}</p>
    {% endif %}
  </section>
</article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    {% if c.parent %}
      {% set parent_bread_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.parent.name) %}
      <a href="{{ parent_bread_url }}" >{{ h.pages_page_title(selected_lang, c.parent) }}</a>
    {% else %}
        {{ _('Menu') }}
    {% endif %}
  </h2>
  <div class="module-content">
    <ul class="pages-menu">
      {% for page in c.pages_dict %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
        {% if page.name == c.page.name %}
          <li class="pages-menu-item active-menu-item"><a href="{{ url }}" >{{ h.pages_page_title(selected_lang, page) }}</a></li>
        {% else %}
          <li class="pages-menu-item"><a href="{{ url }}" >{{ h.pages_page_title(selected_lang, page) }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
