{% extends 'page.html' %}

{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block breadcrumb_content %}
  {% set bread_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.page.name) %}
  {% if c.page.name == 'about' %}
    <li class="active"><a href="{{ bread_url }}" >{{ c.page.title }}</a></li>
  {% else %}
    {% set about_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/about') %}
    <li class="home"><a href="{{ about_url }}" >{{ _('About') }}</a></li>
  {% endif %}

  {% if c.page.parent_name == 'about' %}
    <li class="active"><a href="{{ bread_url }}" >{{ c.page.title }}</a></li>
  {% elif not c.page.parent_name == '' %}
    {% set parent_bread_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.parent.name) %}
    <li class="home"><a href="{{ parent_bread_url }}" >{{ c.parent.title }}</a></li>
    <li class="active"><a href="{{ bread_url }}" >{{ c.page.title }}</a></li>
  {% endif %}
{% endblock %}

{% block primary_content %}
<article class="module">
  <section class="module-content">
    {% if h.check_access('ckanext_pages_update') %}
      <div class="page_primary_action">
      {% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' + c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
        </div>
    {% endif %}
    <h1 class="page-heading">{{ c.page.title }}</h1>
    {% if c.page.content %}
      <div class="ckanext-pages-content">
        {% set editor = h.get_wysiwyg_editor() %}
        <!-- editor set to "{{ editor }}"-->
        {% if editor %}
          <div>
              {{c.page.content|safe}}
          </div>
        {% else %}
          {{ h.render_content(c.page.content) }}
        {% endif %}
      </div>
    {% else %}
      <p class="empty">{{ _('This page currently has no content') }}</p>
    {% endif %}
  </section>
</article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    {% if c.parent %}
      {% set parent_bread_url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + c.parent.name) %}
      <a href="{{ parent_bread_url }}" >{{ c.parent.title }}</a>
    {% else %}
        {{ _('Menu') }}
    {% endif %}
  </h2>
  <div class="module-content">
    <ul class="pages-menu">
      {% for page in c.pages_dict %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
        {% if page.name == c.page.name %}
          <li class="pages-menu-item active-menu-item"><a href="{{ url }}" >{{ page.title }}</a></li>
        {% else %}
          <li class="pages-menu-item"><a href="{{ url }}" >{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
